
html {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400px;
  /* Css Flex Used */
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  /* margin-top: 6vw; */

}
*, *:before, *:after {
  box-sizing: inherit;
} 

h2,h3, h4, p {
  margin: 0;
  padding: 0;
}


#card {
  box-shadow: -1px 1px 11px 0px rgba(0,0,0,0.63);
  border-radius: 6px;
  overflow: hidden;
}

#top {
  width: 100%;
  height: 45%;
  margin: 0;
  padding: 28px;
}

#bottom {
  width: 100%;
  height: 55%;
  color: white;
  /* CSS flex used */
  display: flex;
  flex-direction: column;
}

#bottom-left {
  /* width: 50%; */
  height: 100%;
  background-color: #2ab2af;
  padding: 28px;
  flex-basis: 50%;
  /* Or you can use
   flex-grow: 1;  */

}

#bottom-right {
  /* width: 50%;         // for desktop first  */
  /* for Mobile First */
  height: 100%;
  background-color: #11d4cf;
  padding: 28px;
  flex-basis: 50%;
  /* or you can use
  flex-grow: 1; */
}

#bottom-right h4 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  opacity: 0.8;
}

#top h2 {
  color: #2ab2af;
  margin-bottom: 18px;
}

#top h3 {
  color: #c0df34;
  margin-bottom: 10px;
}

#top p {
  color: #98a6bd;
}

button {
  color: white;
  background-color: #c0df34;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
  background-color: #CDF75E;
  font-size: 20px;
  font-weight: 520;
  color: white;
  box-shadow: -1px 1px 11px 0px rgba(0,0,0,0.63);
  transform: scale(1.01);
}
#sub {
  margin-bottom: 15px;
  font-weight: 600;
}

#price {
  /* Flex box used */
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

#price1 {
  font-weight: 700;
  font-size: 1.6rem;
}
#price2 {
  opacity: 0.6;
  font-size: 0.8rem;
  margin-left: 5px;
}

#bottom-left p {
  font-size: 0.9rem;
  margin-bottom: 25px;
}



@media (min-width: 576px) {
  #card {
    width: 600px;
    height: 400px;
  }

  #bottom {
    flex-direction: row;
  }
}
